<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    
            {% stylesheets
                '@bootstrap_css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<header class="navbar">
    		<div class="container">
    			<a href="/" class="navbar-brand">account manager</a>
    		</div>
    	</header>
    	<div class="container">
        {% block body %}{% endblock %}
    	</div>
        {% javascripts
			'@jquery'
          '@bootstrap_js'
       %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}    	
        {% block javascripts %}{% endblock %}
    </body>
</html>
