{% extends 'base.html.twig' %}
{% block body %}
    {% for group in groups %}
    <p><a href="{{ path("groups_edit",{ 'cn': group.getAttribute("cn")[0] }) }}" >{{ group.getAttribute("cn")[0] }}</a></p>
    {% endfor %}
{% endblock %}